<% provide(:title, 'All users') %>
<h1>All users</h1>
<div class="span6 offset3">
  <h1>
  
  	<%= @msg %>
 
  </h1>
  <form method="post" search_path >
    <input type="text" name="search_text">
    <input type="submit">
  </form>
</div>


